.MuiTabs-fixed > span {
    background-color: rgb(0, 109, 18) !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: rgba(17, 90, 3, 0.603) !important;
    font-weight: bold;
}

@media screen and (max-width: 680px) {

    .MuiTab-root * {
        font-size: 0.7rem;
    }
}